/* global style */
.w1366{
    width: 1366px;
    margin: 0 auto;
}
.w1166{
    width: 1160px;
    margin: 0 auto;
}
.min-width{
    min-width: 1366px;
}

/* header */
.head{
    width: 100%;
    height: 671px;
    background: #f5f5f5
}
.head .nav-wrap{
    padding-top: 25px;
    overflow: hidden;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
    position: fixed;
    top:0;
    left:50%;
    margin-left: -683px;
    z-index: 999;
}
.head .nav-wrap .logo{
    padding-left: 90px;
    width: 365px;
}
.head .nav-wrap .logo img,.head .nav-wrap .logo span{
    display: inline-block;
    vertical-align: middle;    
}
.head .nav-wrap .logo span{
    font-size: 25px;
    color: #000;
    margin-left: 6px;
    letter-spacing: 3px
}
.head .nav-wrap .nav{
    padding:0 42px 0 88px;
}
.nav a{
    display: inline-block;
    margin: 0 20px;
    font-size: 14px
}
.head .banner{
    background: #f5f5f5
}
.head .banner .banner-img{
    padding-left: 165px
}
.head .banner .banner-txt{
    padding: 214px 0 0 124px
}
.head .banner .banner-txt h1{
    margin-bottom: 35px;
    font-size: 30px;
    color: #1d1d1d
}
.head .banner .banner-txt p{
    font-size: 18px;
    color: #787878;
}
.head .banner.active{
    padding-top: 80px;
}
.swiper-slide{
    width: 100%;
    height: 670px
}

.banner .banner-btn{
    position: absolute;
    top: 50%;
    width: 50px;
    height: 80px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    opacity: 0;
    transition: opaction .3s
}

.banner:hover .banner-btn{
    opacity: 1
}

.banner .button-next{
    background:rgba(0,0,0,.2) url('../images/pre-next.png') center no-repeat;
    right: 10px;
    left: auto;
}

.banner .button-prev{
    background:rgba(0,0,0,.2) url("../images/pre-pro.png") center no-repeat;
    left:10px;
    right: auto
}

.head .nav-wrap.active{
    position: fixed;
    top: 0;
    left:0;
    margin-left: 0;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background: rgba(254,216,60,.8);
    box-shadow: 2px 0 5px 1px rgba(0,0,0,.2);
    z-index: 999;
}
.head .nav-wrap.active .logo{
    padding-top: -10px
}
.head .nav-wrap.active .nav{
    padding-top: 14px
}


/* about us */
.about{
    height: 420px;
    background: #fff;
    text-align: center
}

.about h1{
    padding: 130px 0 35px 0;
    font-size: 30px;
    color: #191919
}
.about p{
    width: 855px;
    margin: 0 auto 45px auto;
    line-height: 24px;
    font-size: 14px;
    color: #787878
}


/* 专业技能 */
.skill{
    overflow: hidden;
    background: #f2f2f2;
    width: 100%;
    min-width: 1366px;
}

.skill > div{
    height: 570px;
    overflow: hidden;
    background: url('../images/skill-pic.jpg') top right no-repeat
}

.superiority{
    padding: 92px 0 73px 0;
    background: #fddb46;
    text-align: center;
    font-size: 0;
}

.skill_list{
    margin-top: 133px;    
}

.title,.title-right{
    height: 45px;
    position: relative;
    color: #171717;
}
.title h1{
    font-size: 30px;
    position: absolute;
    left: 0;
    z-index: 1;
}
.title span, .title-right span{
    position: absolute;
    font-size: 20px;
    display: inline-block;
    top: 12px;
    left: 150px;
    z-index: 1
}
.title::after{
    content: " ";
    width: 246px;
    height: 26px;
    position: absolute;
    top: 14px;
    background: #fddb46;
}

.proportion{
    width: 500px;
    margin-top: 40px;
    position: relative;
    overflow: hidden;
}
.proportion .item{
    height: 36px;
    font-size: 14px;
    color: #000
}
.proportion .item span{
    width: 140px;
    display: inline-block
}
.proportion .item-line{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #d8d8d8
}
.proportion .item-line > div{
    height: 3px;
    background: #fddb46
}

/* case show */
.case{
    width: 100%;
    max-width: 1920px;
    min-width: 1366px;
    font-size: 0;
    overflow: hidden;
}
.case li{
    cursor: pointer;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
    opacity: 1;
}
.case li:hover > img{
    opacity: .8;
}
.case .pic-wrap{
    display: inline-block;
    width: 20%;
    height: auto;
}

.case .pic-wrap img{
    width: 100%
}

/* 设计服务 */
.service{
    /*  */
    width: 100%
}

.big-title{
    margin: 0 auto 65px auto;
    padding-top: 65px;
    text-align: center;
    color: #191919
}
.big-title h1{
    font-size: 30px;
    margin-bottom: 15px
}
.big-title p{
    font-size: 24px
}
.definition{
    background: url("../images/definition.jpg") right 75px no-repeat;
}

.definition .text{
    width: 512px;
    margin: 126px 0 0 0;
    font-size: 14px;
    color: #787878
}
.definition .text p, .design-content .design-text p{
    margin-bottom: 35px;
    line-height: 26px
}


/* product design */

.product-design{
    margin-top: 200px;
    margin-bottom: 220px;
    overflow: hidden;
    background: url('../images/design.jpg') no-repeat
}

.design-content{
    width: 515px;
    float: right;
}

.design-content .design-text{
    padding-top: 60px
}
.design-content .design-text p{
    text-align: right
}
.title-wrap{
    width: 100%;
    overflow: hidden;
}
.title-right::after{
    content: " ";
    width: 158px;
    height: 26px;
    position: absolute;
    top: 14px;
    right: 0;
    background: #fddb46;
}
.title-right h1{
    font-size: 30px;
    position: absolute;
    right: 0;
    z-index: 1;
}
.title-right span{
    left: 245px
}

.process{
    background: url("../images/process.png") right 70px no-repeat;
    margin-bottom: 120px
}

.swiper-container {
    overflow: hidden;
}
.my-bullet{
    width: 8px;
    height: 8px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 6px;
    border-radius: 100%;
    background: #000;
    opacity: .3
}
.my-bullet-active{
    width: 12px;
    height: 12px;
    background: #000;
    opacity: 1;
}
.swiper-pagination{
    padding-bottom: 60px
}
.banner-show-wrap{
    height: 500px;
}

/* customer logos */
.customer{
    margin: 60px auto;
    -webkit-text-size-adjust:none;
    font-size: 0;
    text-align: center
}
.customer ul{
    margin: 0 auto;
    display: inline-block;
}
.customer ul li{
    height: 75px;
    display: inline-block;
    background: blue;
    margin: 0 20px
}
.customer ul li:hover{
    opacity: .8;
}

/* contact */
.contact{
    width: 100%;
    height: 778px;
    min-width: 1366px;
    background: #f5f5f5;
    text-align: center
}
.contact h1{
    padding-top: 95px;
    margin-bottom:33px;
}
.contact p{
    width: 508px;
    margin-bottom: 88px;
    display: inline-block;
    line-height: 30px;
    color: #787878
}
.contact .contact-text{
    margin-bottom: 32PX;
    font-size: 18px;
    color: #757575;
}

/* footer */
.footer{
    height: 285px;
    min-width: 1366px;
    box-sizing: border-box;
    padding: 100px 0 0 100px;
    background: #141414;
    font-size: 14px;
}
.footer .footer-content{
    background: yellow
}
.footer .copyright{
    width: 470px;
    color: #fff;
}
.footer .copyright-text{
    margin-top: 32px;
    color: #bcbcbc
}

.footer .footer-contact{
    width: 300px;
    color:#bcbcbc
}

.footer-links {
    width: 108px;
}

.footer-links a{
    display: block;
    margin-bottom: 14px;
    color: #bcbcbc;
    cursor: default;
}
.footer-links a:hover{
    color: #bcbcbc
}